@use 'variaveis';

.festa__title {
    padding: 40px 0;
    text-align: center;
    font-size: 20px;

    &--title {
        background-image: linear-gradient(variaveis.$degrade1, variaveis.$degrade2);
    }
}

.festa {
    padding: 80px 0;

    &--salao {
        background-image: linear-gradient(variaveis.$degrade2, variaveis.$degrade3);
    }

    &--pista {
        background-image: linear-gradient(variaveis.$degrade3, variaveis.$degrade4);
    }

    &--buffet {
        background-image: linear-gradient(variaveis.$degrade4, variaveis.$degrade5);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }
    
    .container {
        gap: 40px;
        display: flex;
    }

    &__image {
        max-width: 300px;
    }

    &__details {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }
    
    @media (max-width: 640px) {
        .container {
            display: block;
            text-align: center;
        }

        &__image {
            width: 100%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}